@import "variables";

/* Generic styles */

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background-color: $dark-background;
  margin: 0;
  padding: 0;
  min-width: 320px;
}


h1, h2 {
  font-size: 20px;
  margin: 0;
}

a {
  color: $dark-color;
}

.btn-link {
  color: $dark-color;
}

.monospace {
  font-family: 'Fira Code', monospace;
}

p.horizontalline {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $dark-background;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

p.horizontalline span {
  background: $dark-color;
  padding: 0 10px;
}

#panel {
  padding: 10px;
}

#logo {
  margin-bottom: 10px;
}

.infolabel .fa-info-circle{
  vertical-align: top;
}

.loginbox-translate {
  position: absolute;
  top: 20px;
  right: 10px;
  color: $dark-normal-color;
  .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: $dark-color;
    border-color: $dark-color;
  }
}

#panel .loginbox-translate {
  top: 10px;
}

.loginbox {
  .pull-right {
    line-height: 31px;
  }
}

.wrapper {
  overflow: auto;
  max-height: 100vh;
}

.navigations {
  list-style-type: none;
  padding:0;
  margin:0;

  li {
    position: relative;
    margin-top: 1px;
    border-radius: 4px;
  }
  li .navigationitem {
    text-decoration: none;
    display: inline-block;
    padding: 10px 100px 10px 10px;
    width: 100%;
  }
  li .navigationitem2 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    width: 100%;
  }
  .dropdown-button-menu {
    right: 0;
    left:auto;
  }
}

.hideinputcharakter {
  label {
    font-weight: inherit;
    width: 45px;
  }
  .form-control {
    width: 250px;
    display: inline-block;
  }
  .form-control:not(:focus) {
    background-color: transparent;
    border: 0;
    color: inherit;
    box-shadow: none !important;
  }
}

.dark {
  background-color: $dark-color;
  color: $dark-normal-color;

  a {
    color: $dark-normal-color;
  }
  a.btn-danger {
    color: $light-link-color;
  }

  h2 {
    padding: 10px 10px;
  }

  .btn-danger {
    background-color: $dark-hightlight-color;
    border-color: $dark-hightlight-color;
  }



.box-footer {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -30px;
  a {
    color: #333333;
  }
}

  .form-control:focus {
    border-color: $dark-hightlight-color;
  }
  .navigations {

    .node-open-link {
      position: absolute;
      right: 50px;
      top: 3px;
    }
    .dropdown {
      position: absolute;
      right: 3px;
      top: 3px;
    }
    li:hover {
      background-color: $light-link-color;
      color: $dark-color;
      a {
        color: $dark-color;
      }
    }
    li.active {
      background-color: $dark-hightlight-color;
      a {
        color: $light-link-color;
      }
    }
  }

}

.popover-content {
  color: $dark-color;
  a {
    color: $dark-color;
  }
}

.modal-edit {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* All Tree Changes */
.tree::before {
  bottom: 23px;
  border-color: $tree-dots-color;
  top:0;
}

.tree {
  overflow-x: visible;
  overflow-y: visible;

  .tree-item.selected,
  .tree-folder .tree-folder-header.selected {
    background-color: inherit;
    border-color: #fff;
    border-radius: 4px;
  }

  .tree-folder .tree-folder-header.selected:hover,
  .tree-item.selected:hover {
    background-color: #F0F7FC;
    border-radius: 4px;
  }

  .tree-folder::before,
  .tree-item::before {
    border-top-color: $tree-dots-color;
    top: 21px;

  }
  .tree-item,
  .tree-folder .tree-folder-header {
    height: 34px;
    line-height: 34px;
    padding-right: 100px;
    color: $tree-fonts-color;
    a {
      color: $tree-fonts-color;
    }
  }

  .tree-item,
  .tree-folder .tree-folder-title {
    position: relative;
  }

  .tree-folder .notSelectable,
  .tree-item .notSelectable{
    color: $disabled;
    a {
      color: $disabled;
    }
  }



  .node-dropdown {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .node-open-link {
    position: absolute;
    right: 50px;
    top: 5px;
  }

  .dropdown-button-menu {
    right: 0;
    left: auto;
  }

  .tree-folder .tree-folder-content:before {
    top: -9px;
    bottom: 23px;
    left: -14px;
    border-color: $tree-dots-color;
  }
}



/* for the fixed dropdown menu that pops when someone right clicks an entry*/

.dropdown-rightclick {
  margin-left: -265px;
  margin-top: -50px;
  z-index: 20;
}
.modal-body .dropdown-rightclick {
  margin-left: -335px;
  margin-top: -30px;
}

.position-fixed {
  position: fixed;
}
.expand15 {
  margin: -15px;
  padding: 15px;
}

.dropdown-menu {
  .fa {
    margin-right: 10px;
    width: 15px;
  }
}

/* classes for error handling */

.form-group.has-error .help-block {
  display: block;
}

.form-field-validation-pass {
  background-color: $form-field-validation-pass;
}
.form-field-validation-fail {
  background-color: $form-field-validation-fail;
}

/* Bootstrap fixes */
.tabset_expand {
  margin-left: -20px;
  margin-right: -20px;

  .nav-tabs {
    li:first-child{
      margin-left: 20px;
    }
  }
  .tab-content {
    padding:20px 20px 5px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }
}

.signintext {
  margin-right: 10px;
  display:inline;
}

.progress {
  background-color: $dark-color-highlight;
}


/* Loading colors */

#loading-bar {
  .bar {
    background: $dark-hightlight-hover-color;
  }

  .peg {
    -moz-box-shadow: $dark-hightlight-hover-color 1px 0 6px 1px;
    -ms-box-shadow: $dark-hightlight-hover-color 1px 0 6px 1px;
    -webkit-box-shadow: $dark-hightlight-hover-color 1px 0 6px 1px;
    box-shadow: $dark-hightlight-hover-color 1px 0 6px 1px;
  }
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  $dark-hightlight-hover-color;
  border-left-color: $dark-hightlight-hover-color;
}

/* Fix Bootstrap disabled */
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus{
  cursor: not-allowed;
  color: #999;
}

/* CSS fix for angular-ui explained here: https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.text-center{
  text-align: center;
}

.progress-box {

  width:340px;
  padding:20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
  border-radius: 4px;

  background-color: $dark-color;
  color: $dark-normal-color;

  .progress {
    margin-top: 20px;
  }
}

.loading-lock {

  width:340px;
  height:260px;
  padding:20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
  border-radius: 4px;

  background-color: $dark-color;
  color: $dark-normal-color;

  text-align: center;

  .loading-lock-logo {
    font-size: 90px;
    position: relative;
    height: 130px;

    .loading-lock-logo-unloaded {
      color: $dark-background;
      position: absolute;
      top: 0;
      margin-left: 50%;
      i {
        margin-left: -100%;
        overflow: hidden;
      }
    }

    .loading-lock-logo-loaded {
      color: $dark-hightlight-color;
      position: absolute;
      top: 0;
      margin-left: 50%;
      i {
        // width - margin-left == 200%
        margin-left: -200%;
        width: 0;
        overflow: hidden;
      }
    }
  }
  .loading-lock-text {

  }
}

// Datetime picker


.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: $dark-color;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: $dark-hightlight-color;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: $dark-color;
}




